<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBPdEN-hwSuz01OYWJHtUAzfnYI0NiQXII</string>
	<key>GCM_SENDER_ID</key>
	<string>1052385556140</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>mjanneau.com.AirBnBClone</string>
	<key>PROJECT_ID</key>
	<string>airbnbclone-f5faf</string>
	<key>STORAGE_BUCKET</key>
	<string>airbnbclone-f5faf.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1052385556140:ios:e4884703c3d7349dee5109</string>
</dict>
</plist>